<h1 class="bg-primary">Welcome to {{title}}</h1>
<app-tasks></app-tasks>

<h1>List of copleted Tasks</h1>

<button (click)="readMe()">Click Me</button>

<div *ngIf="showMsg" [ngStyle]='{color:colorname}'> Showing this message from IF true statement</div>


<div *ngIf="showMsg; than showThenMsg; else showElseMsg">If statement </div>
<ng-template #showThenMsg>Show Then Message </ng-template>
<ng-template #showElseMsg>Show Else Message </ng-template>


<h4>ngSwitch Example<h4>
<div [ngSwitch]="users">
    <div *ngSwitchCase="1">Value passed is: 1</div>
    <div *ngSwitchCase="2">Value passed is: 2</div>
    <div *ngSwitchCase="3">Value passed is: 3</div>
    <div *ngSwitchCase="4">Value passed is: 4</div>
    <div *ngSwitchDefault>Default Msg</div>
</div>


<h4>ngFor Example<h4>
<table class="table">
    <tr>
        <th>            User user Id     </th>
        <th>            Username         </th>
        <th>            Index         </th>
        <th>            First     </th>
        <th>            Last     </th>
        <th>            Even         </th>
        <th>            Odd         </th>
    </tr>
    <tr *ngFor="let user of users; index as i first as f; last as l; even as e; odd as o">
        <td> {{user.userId}} </td>
        <td> {{user.firstName}} </td>
        <td> {{i}} </td>
        <td> {{f}}</td>
        <td> {{l}}</td>
        <td> {{e}}</td>
        <td> {{o}}</td>
    </tr>
</table>

<div [ngStyle]="{'color': colorVal, 'background-color':bgVal}">
    Learning Angular is fun
</div>


<router-outlet></router-outlet>